.pokemon-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.list-group-item {
    border: none;
    text-align: center;
  }
.btn {
    width: 150px;
  }
img {
    width: 200px;
    height: 200px;
  }
.modal-body {
    text-align: center;
  }
.container {
    margin-top: 50px;
  }