.pokemon-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-group-item {
    border: none;
    text-align: center;
  }
.btn {
    width: 150px;
  }
img {
    width: 200px;
    height: 200px;
  }
.modal-body {
    text-align: center;
  }
.container {
    margin-top: 50px;
  }
